{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'task_list2.css' %}">
<!--Titulo vista y formlario de busqueda-->
<div class="container-fluid divbody">
    <div class="row">
        <div class="col-1 pruebat1"></div>
        <div class="col-10">  
            <div class="row">
                <div class="col-3 divTituloTabla">
                    <p class="tituloClientes">Tareas registradas</p>
                </div>
                <div class="col-9 pruebat2">
                    <form action="" class="formFiltrarNombreNumero">
                        <!-- Probar con labels para los inputs -->
                         <!-- Probar con labels para los inputs 
                        <label for="id_cliente_nombre" class="labeltest"> Nombre cliente</label> 
                        -->
                        {{ form.cliente_nombre }}
                        
                        {{ form.abogado }}
                        <button type="submit" class="botonEnviarFormularioFiltrar">Buscar</button>
                    </form>
                        
                    <a href="{% url 'schedule:task_create' %}">
                        <button class="botonCrearCliente">
                            <i class="fa-solid fa-user-plus"></i>
                            Crear Tarea
                        </button>
                    </a>
                </div>
            </div>                           
        </div>
        <div class="col-1 pruebat3"></div>
    </div>
</div>    

<!--Mostrar tareas registradas-->
<div class="container-fluid">
    <div class="row">
        {% for task in tasks %}
        <div class="col-4">
            <div class="box">
                <div class="divtituloTarea">
                    <p class="tituloTarea">Tarea a realizar</p>
                    <a href="{% url 'schedule:task_edit' task.id %}">
                        <button class="botonEditar" title="Editar Nota">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Editar
                        </button>
                    </a>
                    
                    <form action="{% url 'schedule:task_delete' task.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="botonEliminar" onclick="return confirm('¿Estás seguro de borrar esta tarea?');">
                            <i class="fa-solid fa-trash"></i>
                            Borrar
                        </button>
                    </form>
                </div>
        
                <div class="divtextoTarea">
                    <p class="textoTarea">{{ task.tarea }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {% if is_moderator %}
            <td>{{ cliente.abogado.username }}</td>    <!--  FALTA Mostrando el nombre de usuario del abogado -->
            {% endif %}
            <div class="box">
                <p class="tituloTarea">Nombre Cliente</p>
                <p class="textoTarea">{{ task.cliente }}</p>
            </div>
            <div class="box">
                <p class="tituloTarea">Fecha tarea</p>
                <p class="textoTarea">{{ task.fecha_tarea }}    </p>
            </div>
        </div>
        {% empty %}
        <tr>
            <td colspan="4">No se encontraron tareas.</td>
        </tr>       
        {% endfor %} 
    </div>
</div>
{% endblock %}