{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'task_list2.css' %}">
<!--Titulo vista y formlario de busqueda-->
<div class="container-fluid divbody">
    <div class="row">
        <div class="col-1 pruebat1"></div>
        <div class="col-10">  
            <div class="row">
                <div class="col-3 divTituloTabla">
                    <p class="tituloClientes">Tareas registradas</p>
                </div>
                <div class="col-9 pruebat2">
                    <form action="" class="formFiltrarNombreNumero">
                        <!-- Probar con labels para los inputs -->
                         <!-- Probar con labels para los inputs 
                        <label for="id_cliente_nombre" class="labeltest"> Nombre cliente</label> 
                        -->
                        {{ form.cliente_nombre }}
                        
                        {{ form.abogado }}
                        <button type="submit" class="botonEnviarFormularioFiltrar">Buscar</button>
                    </form>
                        
                    <a href="{% url 'schedule:task_create' %}">
                        <button class="botonCrearCliente">
                            <i class="fa-solid fa-user-plus"></i>
                            Crear Tarea
                        </button>
                    </a>
                </div>
            </div>                           
        </div>
        <div class="col-1 pruebat3"></div>
    </div>
</div>    

<!--Mostrar tareas registradas-->
<div class="container-fluid">
    <div class="row">
        <!-- Bloque de tareas para ese día -->
        <div class="col-12">
            <h2>Tareas para este día</h2>
            {% if tasks_hoy %}
                {% for task in tasks_hoy %}
                <div class="box">
                    <div class="divtituloTarea">
                        <p class="tituloTarea">Tarea a realizar</p>
                        <a href="{% url 'schedule:task_edit' task.id %}">
                            <button class="botonEditar" title="Editar Nota">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </button>
                        </a>
                        <form action="{% url 'schedule:task_delete' task.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="botonEliminar" onclick="return confirm('¿Estás seguro de borrar esta tarea?');">
                                <i class="fa-solid fa-trash"></i> Borrar
                            </button>
                        </form>
                    </div>
                    <div class="divtextoTarea">
                        <p class="textoTarea">{{ task.tarea }}</p>
                        {% if is_moderator %}
                        <p class="textoTarea">Abogado: {{ task.cliente.abogado.username }}</p>
                        {% endif %}
                        <p class="textoTarea">Cliente: {{ task.cliente }}</p>
                        <p class="textoTarea">Fecha: {{ task.fecha_tarea }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay tareas para este día.</p>
            {% endif %}
        </div>

        <!-- Bloque de tareas faltantes -->
        <div class="col-12">
            <h2>Tareas faltantes</h2>
            {% if tasks_futuras %}
                {% for task in tasks_futuras %}
                <div class="box">
                    <div class="divtituloTarea">
                        <p class="tituloTarea">Tarea a realizar</p>
                        <a href="{% url 'schedule:task_edit' task.id %}">
                            <button class="botonEditar" title="Editar Nota">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </button>
                        </a>
                        <form action="{% url 'schedule:task_delete' task.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="botonEliminar" onclick="return confirm('¿Estás seguro de borrar esta tarea?');">
                                <i class="fa-solid fa-trash"></i> Borrar
                            </button>
                        </form>
                    </div>
                    <div class="divtextoTarea">
                        <p class="textoTarea">{{ task.tarea }}</p>
                        {% if is_moderator %}
                        <p class="textoTarea">Abogado: {{ task.cliente.abogado.username }}</p>
                        {% endif %}
                        <p class="textoTarea">Cliente: {{ task.cliente }}</p>
                        <p class="textoTarea">Fecha: {{ task.fecha_tarea }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay tareas faltantes.</p>
            {% endif %}
        </div>

        <!-- Bloque de tareas pasadas -->
        <div class="col-12">
            <h2>Tareas pasadas</h2>
            {% if tasks_pasadas %}
                {% for task in tasks_pasadas %}
                <div class="box">
                    <div class="divtituloTarea">
                        <p class="tituloTarea">Tarea a realizar</p>
                        <a href="{% url 'schedule:task_edit' task.id %}">
                            <button class="botonEditar" title="Editar Nota">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </button>
                        </a>
                        <form action="{% url 'schedule:task_delete' task.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="botonEliminar" onclick="return confirm('¿Estás seguro de borrar esta tarea?');">
                                <i class="fa-solid fa-trash"></i> Borrar
                            </button>
                        </form>
                    </div>
                    <div class="divtextoTarea">
                        <p class="textoTarea">{{ task.tarea }}</p>
                        {% if is_moderator %}
                        <p class="textoTarea">Abogado: {{ task.cliente.abogado.username }}</p>
                        {% endif %}
                        <p class="textoTarea">Cliente: {{ task.cliente }}</p>
                        <p class="textoTarea">Fecha: {{ task.fecha_tarea }}</p>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No hay tareas pasadas.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}