{% extends 'base.html' %}

{% block content %}
    <!-- Formulario de búsqueda -->
    <form method="GET">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
    </form>


    <h1>Lista de Clientes</h1>
    <a href="{% url 'clients:create_client' %}">Crear Cliente</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Teléfono</th>
                <th>Abogado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nombres }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.abogado.username }}</td>  <!-- Mostrando el nombre de usuario del abogado -->
                <td>
                    <a href="{% url 'clients:update_client' cliente.id %}">Actualizar</a>
                    <a href="{% url 'clients:erase_client' cliente.id %}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Mostrar los mensajes de error u otros -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
