{% load static %}
<!-- gestor_abogados/templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base2.css' %}">
    <title>Gestor Abogados</title>
    <link rel="icon" href="{% static '/1.svg' %}" type="image/x-icon">
</head>
<body>
<div class="containerCreado">
    <!-- Incluir el navbar -->
    {% include 'navbar.html' %}
    <main>
        {% if user.is_authenticated %}
        <div class="container-fluid divbody">
            <div class="row">
                <div class="col-1 pruebat1"></div>
                <div class="col-10">                            
                    <div class="pruebat2 mt-4">
                        <p class="nombreUser">¡Hola, {{ user.username }}! Bienvenido de nuevo.</p>
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                </div>
                <div class="col-1 pruebat3"></div>
            </div>
        </div>
        {% else %}
            <p>¡Hola! Por favor, inicia sesión.</p>
        {% endif %}
        
    
        <div class="container-fluid">
            <!-- El contenido específico de cada plantilla se mostrará aquí -->
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <div class="container-fluid espaciadoFooter"></div>
    <footer>
        <center>
            <p class="textoFooter">Aliado Legal</p>
            <p class="textoFooter">© Copyright 2024</p>
        </center>
    </footer>
</div>



</body>
</html>
